@import 'tailwindcss';

@font-face {
  font-family: 'TheNeue';
  src: url('/TheNeue-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-title: 'TheNeue', sans-serif;
}